langchain
langchain-community
langchain-chroma
langchain-groq
langchain-ollama
langchain-huggingface
chromadb
pymupdf
sentence-transformers
python-dotenv
requests
streamlit
pandas
anthropic
huggingface_hub
